
<div>
    <h3 nz-typography>Réinitialisation du mot de passe</h3>
</div>

<div>
    <form nz-form [formGroup]="newPasswordForm" (ngSubmit)="submitForm()">
        
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>Email</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback [nzErrorTip]="errorMessageEmail">
          <input nz-input formControlName="email" type="email" />
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>Code transmis par email</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzErrorTip="Code faux ou expiré">
            <input nz-input formControlName="code"  minlength="5" maxlength="5"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>Nouveau mot de passe</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzErrorTip="3 caractères mini">
          <input nz-input formControlName="password" type="password" minlength="3"/>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>Confirmer le nouveau mot de passe</nz-form-label>
        <nz-form-control  [nzSpan]="5" nzHasFeedback nzErrorTip="Les mots de passe ne correspondent pas">
          <input nz-input formControlName="confirmNewPassword" type="password" />
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
          <nz-form-control [nzOffset]="5" [nzSpan]="12">
              <button nz-button nzType="primary" [disabled]="!newPasswordForm.valid">
                  Valider
              </button>
          </nz-form-control>
      </nz-form-item>
    
    </form>
</div>



