
    <nz-layout>

      <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item nzSelected>Utilisateur</li>
          <!-- <li nz-menu-item>nav 2</li>
          <li nz-menu-item>nav 3</li> -->
        </ul>
      </nz-header>

      <nz-layout>
        <nz-sider nzWidth="200px" nzTheme="light">
          <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-menu-item #selection (click)="goToAnnonces()">
              <span nz-icon nzType="notification" nzTheme="twotone" style="margin: 12px"></span>
              ANNONCES
            </li>
            <li nz-menu-item>
              <span nz-icon nzType="calendar" nzTheme="twotone" class="nz-2x" style="margin: 12px"></span>
              EVENEMENT</li>
            <li nz-menu-item>...</li>

            <!-- <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
              <ul>
                <li nz-menu-item>option9</li>
                <li nz-menu-item>option10</li>
                <li nz-menu-item>option11</li>
                <li nz-menu-item>option12</li>
              </ul>
            </li> -->
          </ul>
        </nz-sider>

        <nz-layout class="inner-layout">
          <nz-breadcrumb>
            <nz-breadcrumb-item>(selection.value)</nz-breadcrumb-item>
          </nz-breadcrumb>

          <nz-content>
            <router-outlet></router-outlet>
          </nz-content>
        </nz-layout>
        
      </nz-layout>
    </nz-layout>
  