<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXXl]="7" [nzXl]="7" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" *ngFor="let annonce of annoncesList">
      <nz-list-item>
        <nz-card [nzCover]="coverTemplate" [nzActions]="[actionView, actionContact]">

          <nz-card-meta
            nzTitle="{{ annonce.title }}"
            nzDescription="{{ annonce.date | date:'dd/MM/yyyy' }} - Par {{ annonce.user.name }} {{ annonce.user.lastName }}"
          ></nz-card-meta>
    
          <ng-template #coverTemplate>
            <img src="assets/images/{{ annonce.image }}" />
          </ng-template>
    
          <ng-template #actionView>
            <span nz-icon nzType="eye" nzTheme="twotone"
            (click)="getAnnonceValue(annonce)"
    
            ></span>
          </ng-template>
          
          <ng-template #actionContact>
            <span nz-icon nzType="mail" nzTheme="twotone"></span>
          </ng-template>
    
        </nz-card>
      </nz-list-item>
    </div>
  </div>
</nz-list>

<app-annonces-detail [isVisibleModal]="isVisibleModal" (onClose)="closeModal()"
[annonce]="annonce"
></app-annonces-detail>

<h4 *ngIf='!annoncesList' >
  <app-loader></app-loader>
</h4>

  