<nz-select style="width: 200px;" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange($event)" nzAllowClear nzPlaceHolder="Catégorie">
  <nz-option *ngFor="let categorie of categories" [nzLabel]="categorie.labelForForm" [nzValue]="categorie.value"></nz-option>
</nz-select>

<button nz-button nzType="primary" (click)="goToAddAnnonces()" style="margin: 16px">
  <span nz-icon nzType="plus-circle" nzTheme="twotone"></span>
  Ajouter une annonce
</button>

<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXXl]="7" [nzXl]="7" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" *ngFor="let annonce of annoncesFilteredList">
      <nz-list-item>  
        <nz-card [nzCover]="coverTemplate" [nzActions]="[actionView, actionContact]">
          
          <nz-tag [nzMode]="'default'" [nzColor]="'processing'">{{ annonce.categorie.toUpperCase() }}</nz-tag>
          
          <nz-card-meta
            nzTitle="{{ annonce.title }}"
          ></nz-card-meta>
          <nz-card-meta *ngIf='!annonce.date'
            nzDescription="Par {{ annonce.user.name }} {{ annonce.user.lastName }}"
          ></nz-card-meta>
          <nz-card-meta *ngIf='annonce.date'
            nzDescription="Par {{ annonce.user.name }} {{ annonce.user.lastName }} - {{ annonce.date | date:'dd/MM/yyyy' }}"
          ></nz-card-meta>
    
          <ng-template #coverTemplate>
            <div style="display: flex; justify-content: center; align-items: center; height: 150px;">
              <img src="assets/images/{{ annonce.image }}" style="max-width: 100%; max-height: 100%;"/>
            </div>
          </ng-template>
    
          <ng-template #actionView>
            <span nz-icon nzType="eye" nzTheme="twotone"
            (click)="getAnnonceValue(annonce)"
    
            ></span>
          </ng-template>
          
          <ng-template #actionContact>
            <span nz-icon nzType="mail" nzTheme="twotone"></span>
          </ng-template>
        </nz-card>

      </nz-list-item>
    </div>
  </div>
</nz-list>

<app-annonces-detail [isVisibleModal]="isVisibleModal" (onClose)="closeModal()"
[annonce]="annonce"
></app-annonces-detail>

<h4 *ngIf='!annoncesList' >
  <app-loader></app-loader>
</h4>

  