.card-annonce {
  /* height: 200px;
  width: 100px; */
}

.container-img {
  /* display: flex;
  justify-content: center;
  align-items: center;*/
  width: 100%; /* ou une largeur fixe */
  height: 100px; /* ou une hauteur fixe */
  overflow: hidden; /* Cache les parties de l'image qui dépassent */
}

.container-img img {
  width: 100%;
  height: 100%;
  padding: 1px;
  object-fit: cover; /* L'image remplit la div en couvrant tout l'espace */
}
