
    <nz-table #basicTable [nzData]="usersList">
      <thead>
        <tr>
          <th>Id</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.lastName }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.role }}</td>
          <td>
            <!-- <nz-divider nzType="vertical"></nz-divider> -->
            <a>
              <span nz-icon nzType="eye" nzTheme="twotone"></span>
            </a>
          </td>

        </tr>
      </tbody>
    </nz-table>
  