/* app.component.css */

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-img {
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-divider {
  border-right: 2px solid #ccc;
  /* border: 2px solid #ccc; */
  padding-right: 30px;
}

.map {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin-top: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .weather-info {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    margin: 10px;
    text-align: left;
  }
  
  .weather-logo {
    max-width: 30%;
    margin-right: 2px;
  }
  
  .weather-details {
    text-align: left;
  }
  
  .grid {
    /* border: 1px solid #0a0909; */
  }

  h2, h3, h4, h5, h6 {
    margin: 0; /* Annule la marge par défaut */
    /* Ajoutez d'autres styles personnalisés au besoin */
  }
